
.program-visible {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.divider{
    height: 1px;
    background: #d3d3d3;
}

.animatedDown {
  transform: rotate(180deg);
}

.plan-description{
  margin-left: 40px;
}

