.modal1{
    position: absolute;
    background: #f1f1f1;
    padding: 10px;
    max-width: 500px;
    min-width: 300px;
    color: black;
    border-radius: 5px;
    margin: 10px;
}
.modal2{
    position: absolute;
    left: 11%;
    top: 18%;
    background: #f1f1f1;
    padding: 10px;
    max-width: 500px;
    min-width: 300px;
    color: black;
    border-radius: 5px;
    margin: 10px;
}