.teacher-img{
    border-radius: 100px;
}

@media (max-width: 500px) { 
    .teacher-container {
        text-align: center;
    }
    .teacher {
        display: flex;
        flex-direction: column;
    }
    .teacher-para{
        margin-bottom: 15px;
    }
    .teacher-img-container{
        justify-content: center;
    }
 }