@media (max-width: 550px) { 
    .header-button-container, .header-title{
        justify-content: center;
        text-align: center;
    }
    .header-description{
        text-align: center;
    }
 }
